# Credenciais e Variáveis de Ambiente
.env
*.env

# Cache do Python e Ambientes Virtuais
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.poetry/

# Dados locais
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Arquivos de Bancos Locais / DuckDB
*.db
*.duckdb
*.sqlite3

# Arquivos de IDEs e Sistema
.vscode/
.idea/
.DS_Store